.header{
    background-color: #202124;
    width: 100%;
    height: 60px;
    color: #dadce0;
    border-bottom: 1px solid #dadce0;
    display: flex;
    justify-content: center;
    align-items: center;
}